    .fotterText{
    font-weight: bold;

    }
    .main-fotter{
        background-color: #76bb7f;
    }

    .divFooter{
    font-size: 4vh;
    display: flex;
   
 
    font-size: 1.1rem;
    color: white;
    text-align: center;
 
    }

    .footerText::first-letter {        
    color: #76bb7f;
    font-size: 5vh;
    font-weight: bold;
    }  

    p .span{  
    color: #61b8ff;
    font-size: 5vh;
    } 

    @media screen and (max-width:800px){
        .divFooter{
            font-size: 2.5vh;
            height: 63px;
         
            }
        
    }

     