@mixin TITLE-MAX {
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 8vh;
  font-size: 1.35rem;
  display: inline-block;
  transition: all 0.3s;
}

#background {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  min-height: 88vh;
  background: black url(../../assets/images1/foreground.png);
  animation-name: STAR-MOVE;
  animation-duration: 650s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
 
#page-wrap {
  position: relative;
  z-index: 200;
  top: 120px;
}
.navbar-off  {
  width: 100%;
  background: transparent;
  transition: all 3s;
  position: fixed;
  &-ul {
      display: flex;
    justify-content: center;
      li {
          list-style: none;        
      }
  }
  &-a{
    display: block;
    color: white;
    padding: 0 20px;
    text-transform:uppercase ;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}
&-a:hover,
&-a:active,
&-a.active {
  text-decoration: none;
}
&-a::after {
  transform-origin: initial;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background:  blue;
}

&-a:hover::after {
  transform-origin: initial;
    width: 49px;
     transition: ease-in-out .6s;
  }
}

.sticky {
  top: 0;
  width: 100%;
  z-index: 600;
  background: rgba(255, 185, 0, 0.85); 
  transition: all 3s ease-out;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title2 {
    animation: moveInLeft;
    animation-duration: 6s;
    @include TITLE-MAX;
  }
  &-title2:hover {
    transform: rotate(8deg);
  }
  &-title3 {
    @include TITLE-MAX;
    font-size: 100%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes STAR-MOVE {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 8000% 60000%;
  }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(30, start) infinite, blink-caret 0.5s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

 

@media screen and (max-width: 620px) {
  #background {
  min-height: 100vh;
  }
} 
@media screen and (max-width: 550px) {
  #background {
  min-height: 112vh;
  }
} 
@media screen and (max-width: 400px) {
  .navbar-off-ul {
    margin-left: -34px;
  }
}
@media screen and (max-width: 375px) {
  #background {
    min-height: 115vh;
    }
}
 