@mixin TITLE-MAX {
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2vh;
  font-size: 1.35rem;
  display: inline-block;
  transition: all 0.3s;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 650px;
   animation-name: STAR-MOVE;
  animation-duration: 650s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
   background-image: url(../../assets/imagesStars/foreground.png),
   radial-gradient( #1b2735 0,#090a0f );
}
 
#page-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 200;
  top: 85px;
  height: 400px;
}
.navbar-off  {
  width: 100%;
  background: transparent;
  transition: all 3s;
  position: fixed;
  &-ul {
      display: flex;
      justify-content: center;
      li {
          list-style: none;        
      }
  }
  &-a{
    display: block;
    color: white;
    padding: 0 20px;
    text-transform:uppercase ;
    font-weight: 500;
    line-height: 50px;
    cursor: pointer;
}
&-a:hover,
&-a:active,
&-a.active {
  text-decoration: none;
  color: white
}
&-a::after {
  transform-origin: initial;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background:  white
  
}

&-a:hover::after {
  transform-origin: initial;
  width: 100%;
     transition: ease-in-out .6s;
  }
}

.sticky {
  top: 0;
  width: 100%;
  z-index: 600;
  background: rgba(255, 185, 0, 0.85); 
  transition: all 3s ease-out;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 4vh;
&-content {
  text-align: center;
}

  &-title2 {
    @include TITLE-MAX;
    
  }
  &-title2:hover {
    transform: rotate(8deg);
  }
  &-title3 {
    @include TITLE-MAX;
   font-size: 1rem;
   
  }
}

@keyframes STAR-MOVE {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 8000% 60000%;
  }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(30, start) infinite, blink-caret 0.5s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

 
 

@keyframes bounceInRight {
  from,
 
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }
 
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn  ;
}

 
@media screen and (max-width: 700px) {

 
  .mainInfo-title2 {
    font-size: 0.9rem;
   }
 .mainInfo-title3 {
   font-size: 0.7rem;
  }
} 
 
 