 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
    font-family: 'Kalam', cursive   !important;
 }
 .wrapper-loading{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #494b54;
  }