
#about {
display: flex;
background: #2B2B2B;
padding-top: 5%;
justify-content: space-evenly;
 /*  */
}
h3{
color: aliceblue;
}
 .profilepic {
width:  25vh;
 
}
#about p {
line-height:130%;
color: #7A7A7A;
}
.titleAbout{
width: 12em;
}
 .contact-details{
     font-size: 2.5vh;
 }
 
 .Resume1{
 margin-top: 15%;
     text-align: center;
    
 } 
 .Resume:hover{
   
    text-decoration: none;   
}
 a {
	transition: all 3000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    justify-content: center;
	padding: 1vh 4vh;	 
}
a.Resume {
    padding:3vh 7vh;   
	color: rgb(255, 255, 255);
	box-shadow: rgba(255, 255, 255, 0.979) 0 0px 0px 2px inset;   
}

a.Resume:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
@media screen and (max-width: 800px) {

#about{
    flex-wrap: wrap;
}
    .profilepic{  
        width: 10vh;    
    }
    .titleAbout{
        width:100em;
        text-align: center
        ;
        }
    h3.contactTitle{
        text-align: center;
        font-size:3vh;;
    }
    a.Resume {
        padding:1vh 3vh;   
      
    }
    .Resume1{
        margin-bottom: 8%;
            text-align: center;
           
        } 
}