@mixin FIRST-LETTER {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  -webkit-background-clip: text;
  color: transparent;
}
 
.about {
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
 
  &-title {
    width: 30em;
    font-weight: bold;
   
    overflow: hidden;
  }
  &-title1 {
    height: 150px;
    font-weight: bold;
    
    &-content {
      font-size: 1.1rem;
      color: white;
 
    }
    &-content::first-letter {
      font-size: 1.1rem;
      @include FIRST-LETTER;
     
    }
  }
  &-title-text::first-letter {
    @include FIRST-LETTER;
  }
  &-title-text {
   letter-spacing: 3px;
 
  }
}

.my-data {
  display: flex;
  flex-direction: column;
}
.resume-div {
  margin-top: 7vh;
  font-family: 'Kalam', cursive;
  &-file {
    padding: 2vh 5vh;
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.979) 0 0px 0px 2px inset;
    transition: all 3000ms cubic-bezier(0.39, 0.1, 0.15, 1);
    justify-content: center;
  }
  &-file:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(255, 185, 0, 0.85) 0 0px 0px 40px inset;
  }
}
 
@media screen and (max-width: 900px) {
  .about {
    text-align: center;
  }
  .resume-div-file {
    padding: 2vh 3vh;
  }
  .about-title1-content{
    font-size: 0.9rem;
  }
}
// }
@media screen and (max-width: 670px) {
  .about {
    flex-wrap: wrap;
  }
  .resume-div-file {
    padding: 1vh 1vh;
  }
}
