@mixin TITLE-MAX {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  -webkit-background-clip: text;
  color: transparent;
}
.about {
  display: flex;
  justify-content: space-around;
  color: white;
  min-height: 46vh;

  &-title {
    width: 20em;
    font-weight: bold;
    height: 167px;
    overflow: hidden;
  }
  &-title1 {
    height: 150px;
    font-weight: bold;
  }
  &-title-text::first-letter {
    @include TITLE-MAX;
  }
}

.my-data {
  display: flex;
  flex-direction: column;
}
.resume-div {
  height: 150px;
  margin-top: 3%;
  &-file {
    padding: 3vh 7vh;
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.979) 0 0px 0px 2px inset;
    transition: all 3000ms cubic-bezier(0.39, 0.1, 0.15, 1);
    justify-content: center;
  }
  &-file:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(255, 185, 0, 0.85) 0 0px 0px 40px inset;
  }
}

@media screen and (max-width: 800px) {
  .about {
    text-align: center;
  }
  .resume-div-file {
    padding: 2vh 3vh;
  }
}
@media screen and (max-width: 650px) {
  .about {
    flex-wrap: wrap;
  }
  .resume-div-file {
    padding: 1vh 1vh;
  }
}
