.schoolName {
  color: rgba(255, 185, 0, 0.85);
  display: flex;
  justify-content: center;
}
.achievements {
  display: flex;
  margin-bottom: -6%;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold !important;
  font-size: 3vh;
  text-align: center;
}
.timeline {
  max-width: 1000px;
  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    &-front {
      display: flex;
      flex-direction: column;
      text-align: center;
      &-logos {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
      }
    }
  }
}
