.schoolName {
  color: rgba(255, 185, 0, 0.85);
  display: flex;
  justify-content: center;
  font-family: "Kalam", cursive;
}
.achievements {
  display: flex;
  font-size: 3vh;
  text-align: center;
  font-family: "Kalam", cursive;
}
.timeline {
  max-width: 1000px;
  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    &-front {
      display: flex;
      flex-direction: column;
      text-align: center;
      &-logos {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        &-all {
          filter: grayscale(100%);
          &:hover {
            transform: scale(1.3);
            transition: all 0.2s ease;
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media screen and (max-width: 400px) {
  .timeline-content {
    justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .schoolName {
    text-align: center;
  }
}
