@import url('https://fonts.googleapis.com/css?family=Lato:900');


 

.navbar-off, .navbar-off .sticky {
        width: 100%;
        height: 60px; 
        background: rgba(255, 185, 0, 0.85); 
        border-top: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(255,255,255,.2);
        color: white;
        position: fixed;
        &-ul {
            display: flex;
          justify-content: center;
            li {
                list-style: none;    
            }
        }
       
        &-a{
          display: block;
          color:white ;
          padding: 0 20px;
          text-transform:uppercase ;
          font-weight: bold;
          line-height: 50px;
          cursor: pointer;
      }
      &-a:hover,
      &-a:active,
      &-a.active {
        color: black;
      }
      &-a::after {
        transform-origin: initial;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background:  darkred;
       
      }
      
      &-a:hover::after {
        transform-origin: initial;
          width: 49px;
           transition: ease-in-out .6s;
        }
       
      }
      
      .sticky {
        color: white;
        top: 0;
        width: 100%;
        z-index: 600;
        background: rgb(255, 255, 255);
        transition: all .5s ease-in;
        color: black;
      }
 
 
/*  
 
       
      .titlep{
      font-size: 3vh;
      font-weight: bold;
      }
      .social-network {
      display: flex;  
      justify-content: center;
      justify-content: space-evenly;    
      }
      .social-network i{        
      font-size:10vh;
      }
      h3.projectTitle{    
         color: black;
        font-size: 8vh;
         margin-left: 20%;
        margin-top: 5vh; 
        
        }       
      
        .projectTitle::first-letter {
          color: #76bb7f;     
         }  

          h3 span{        
          color: #61b8ff;      
         }  
         .social-network {
          -webkit-animation:social-network 1.5s both;
                  animation: social-network 1.5s both;
        } */

/*   
  section{
        background-repeat: no-repeat;   
  } */
   
              
 

      @media screen and (max-width: 800px) {
 
  .title{
          font-size: 6vh;
     
     }
      .titlep{
        width: 12em;
        color: aliceblue;
         font-weight: bold;;
      }
   
         .ul-navbar{
                 display: flex;
                 justify-content: space-evenly;
                 width: 100%;
         }
         .nabarBtns{
                 width: 21%;
         }
 
 
 
}
/* for iphone X */
@media screen and (max-width: 375px) {

        #about{
            flex-wrap: wrap;
            height: 390px;
        }
       
        }