 
  .mainlogo{ 
  background: #2B2B2B;
  }
 
 
  .sortDiv{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #ffffff;

 
  }
  a.sort {
    cursor: pointer; 
  }

 