.listProjects{
    margin-top:  2%;
}
.list{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}

@media screen and (max-width: 800px) {
    .list{
        display: flex;
        flex-wrap: wrap;
    }
}