.list {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90vh;
  align-items: center;
  padding: 10px;
}
 
@media screen and (max-width: 662px) {
  .list {
  margin-top: 15%;
 
  }
}

@media screen and (max-width: 425px) {
  .list {
  margin-top: 40%;
  }
}
 
 
 

